<template>
    <div class="col-lg-12">
        <div class="element-wrapper">
            <div class="modal fade" id="respondeToUserModal">
                <form method="post">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Formulaire de reponse </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">Fermez</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group row">
                                        <input type="hidden" id="client_id" v-model="client_id"/>
                                        <input type="hidden" id="request_id" v-model="request_id"/>
                                        <input type="hidden" id="request_statut" v-model="request_statut"/>
                                    <label  class="col-sm-3 col-form-label">Facture</label>
                                    <div class="col-sm-9">
                                        <a class="btn btn-info" :href="attachment_url">Voir le fichier</a>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" @click="respondeToClient(client_id,total_price,request_statut,request_id)" class="btn btn-success">Envoyer</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <h6 class="element-header">Recent Transactions</h6>
            <div class="element-box-tp">
                <div class="table-responsive">
                    <table class="table table-padded">
                        <thead>
                        <tr>
                            <th class="text-center">Sujet</th>
                            <th class="text-center">Total à payer</th>
                            <th>Etat du payement</th>
                            <th class="text-center">Actions</th>

                            <!--<th class="text-right">Avance</th>-->
                            <!--<th class="">Reste à payé</th>-->
                            <!--<th class="text-right">Payé avant le </th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <template v-for="order in orders">
                            <tr>
                                <td class="text-center">
                                    <span class="lighter">{{order.draft_subject}}</span>
                                    <span class="smaller lighter"></span>
                                </td>
                                <td class="text-center">{{order.total_price}}</td>

                                <template>
                                    <td class="nowrap " v-if="order.purchase_state===0">
                                        <span class="status-pill smaller red"></span>
                                        <span>Pas de paiement en cours</span>
                                    </td>
                                    <td class="nowrap " v-else-if="order.purchase_state===1">
                                        <span class="status-pill smaller green"></span>
                                        <span>Facture soldé</span>
                                    </td>
                                    <td class="nowrap " v-else-if="order.purchase_state===2">
                                        <span class="status-pill smaller orange"></span>
                                        <span>En cours de payement</span>
                                    </td>

                                </template>
                                <td class="text-center">
                                    <button type="button" @click="sendBill(order)"class="btn btn-outline-success">
                                        Envoyer la facture
                                        <i class="os-icon os-icon-send"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-info">
                                        Consulter les details
                                        <i class="os-icon os-icon-eye"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-info" data-toggle="collapse" :data-target="'#paymentDetails'+order.id" @click="getPaymentDetails(order.id)">
                                        Voir l'état de paiement
                                        <i class="os-icon os-icon-eye"></i>
                                    </button>
                                    <!--div des resultats-->

                                        <div class="collapse" :id="'paymentDetails'+order.id" >

                                                <div class="table-responsive">
                                                    <table class="table table-padded">
                                                        <thead>
                                                            <tr>
                                                                <th>Date de paiement</th>
                                                                <th>Montant payé</th>
                                                                <th>Reste à payer</th>
                                                                <th>Identifiant de commande </th>
                                                                <th>Moyen de paiement</th>
                                                                <th>Etat de paiement</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <template v-for="subpayment in subpayments">
                                                                <tr>
                                                                    <td> {{subpayment.paid_at}}</td>
                                                                    <td> {{subpayment.paid}}</td>
                                                                    <td> {{subpayment.rest}}</td>
                                                                    <td> {{subpayment.identifier}}</td>
                                                                    <td> {{subpayment.payment_method}}</td>
                                                                    <td v-if="subpayment.state=0">
                                                                            Sous paiement effectué avec succès
                                                                    </td>
                                                                    <td v-else-if="subpayment.state=2">
                                                                        Sous paiement en cours
                                                                    </td>
                                                                    <td v-else-if="subpayment.state=4">
                                                                        Expiré
                                                                    </td>
                                                                    <td v-else-if="subpayment.state=6">
                                                                        Annulé
                                                                    </td>
                                                                    <td v-else>
                                                                        -
                                                                    </td>

                                                                </tr>
                                                            </template>
                                                        </tbody>
                                                    </table>
                                                </div>
                                        </div>
                                </td>
                            </tr>

                        </template>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import VueTypeahead from 'vue-typeahead'
    export default {
        extends: VueTypeahead,
        name: "PreOrderDetails",
        data() {
            return {
                user_id: 0,
                client_id:0,
                attachment_url:'',
                total_price:0,
                request_id:0,
                request_statut:0,


            }
        },
        mounted() {
            this.user_id = this.$route.params.client_id
            this.loadUserRequest()
        },
        methods: {


            loadUserRequest: function () {
                this.$store.dispatch('loadUserRequest', this.user_id)
            },
            loadSingleRequestDetails:function(id,total){
                axios.get('/request/validate/'+id).then(response =>{
                    this.client_id=response.data.client_id,
                    this.request_id=response.data.id,
                    this.request_statut=response.data.statut,
                    this.attachment_url=response.data.attachment_url
                    console.log(response.data)
                })
                this.total_price=total

            },
            sendBill:function (order) {

                axios.post('/sendNotification',{
                    order:order
                }
                ).then(response=>{
                    this.$toasted.show('La reponse a bien été soumise au client ',
                        {
                            theme: 'outline',
                            position: 'top-center',
                            type: 'success',
                            duration: 4000
                        })
                }).catch(fail=>{

                })
            },
            getPaymentDetails:function(id){
               this.$store.dispatch('loadSubPayment',id)
                this.subpayments

            }
        },
        computed: {
            orders: function () {
                return this.$store.getters.getClientOrdersDetails
            },
            subpayments:function () {
                return this.$store.getters.getSubPaymentList
            }
        }
    }
</script>

<style scoped>

</style>
