<template>
    <div class="col-lg-4 b-l-lg">
        <div class="padded-lg"><!--START - Projects Statistics-->
            <div class="element-wrapper">
                <h6 class="element-header">Infos utilisateurs</h6>
                <div class="element-box">
                    <div class="padded m-b">
                        <div class="centered-header"><h6>Stats commandes</h6></div>
                        <div class="row">
                            <div class="col-6 b-r b-b">
                                <div class="el-tablo centered padded-v-big highlight bigger">
                                    <div class="label">
                                        <span class="negative"> Validée
                                    </span>
                                    </div>
                                    <div class="value">24</div>
                                </div>
                            </div>
                            <div class="col-6 b-b">
                                <div class="el-tablo centered padded-v-big highlight bigger">
                                    <div class="label">Annulée</div>
                                    <div class="value">251</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PreOrderUserStat"
    }
</script>

<style scoped>

</style>
