<template>
        <div class="content-box">
            <!--todo faire une design d'empty state-->
        </div>
</template>

<script>
    export default {
        name: "DiscussionComponentInactive"
    }
</script>

<style scoped>

</style>
