<template>
    <div>
        <input
            v-model="query"
            type="text"
            @blur="reset"
            class="form-control"
            :placeholder="placeholder"
        >
        <transition-group name="fade" tag="ul" class="Results">
            <li v-for="item in filtered" :key="item">
                <span>
                    <input type="hidden" :value="item.id" name="id">
                    <strong>{{ item.lname  }}</strong> - <small>{{ item.fname  }}</small><br>
                    <small>{{ item.body  }}</small>
                </span>
            </li>
        </transition-group>
        <p v-show="isEmpty" class="alert alert-danger">Aucun n'élément n'a été trouvé</p>
    </div>
</template>

<script>
    export default {
        name: "auto-complete",
        props:{
            source:{
                type:[String,Array],//definit la source des elements à afficher
                required:true,
            },
            filter_key:{
                type:String,
                required: true
            },
            start_at:{
                type:Number,
                default:1,
            },
            placeholder:{
                type:String,
                default:""
            },
        },
        data(){
            return{
                items:[],
                query:" "
            }
        },
        methods:{
            fetchItems(){
                if (typeof this.source ==='string'){
                    axios.get(this.source)
                        .then(data=>this.items=data)
                        .catch(error=>{
                           console.log("error retreiving the object")
                        });
                }else{
                    this.items=this.source
                }
            },
            reset(){
                this.query='';
            }
        },
        computed:{
            filtered:()=>{
                    if (this.query.length >=this.start_at){
                        return this.items.filter(item=>{
                            if (item.hasOwnProperty(this.filter_key)){
                                return item[this.filter_key]
                                    .toLowerCase
                                    .indexOf(this.query.toLowerCase()) > -1
                            }else{
                                console.error("la clé n'existe pas dans le tableau d'objet")
                            }
                        })
                    }
            },
            isEmpty:()=>{
                if (typeof this.filtered()==='undefined'){
                    return false
                }else{
                    return this.filtered.length < 1
                }
            }

        },
        mounted(){
            this.fetchItems()

        },



    }
</script>

<style scoped>

</style>
