<template>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">
                    Traitement de la requête
                </h6>
            </div>
            <hr>
            <div class="card-body d-inline">
                <form class="form" @submit="submit" enctype="multipart/form-data">
                    <div class="row">
                        <label class="col-md-3 col-form-label" for="requestPdf">Facture (Format Excel)</label>
                        <div class="col-md-8">
                            <input id="requestPdf" @change="onfileSelected" :name="name" type="file"
                                   class="form-control-file"/>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary align-items-center">
                        <i class="now-ui-icons ui-1_send"></i>
                        Soumettre à validation
                    </button>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['draft_id'],
        data () {
            return {
                file: '',
                name: ''
            }
        },
        mounted () {

        },
        methods: {
            onfileSelected (e) {
                this.file = e.target.files[0]
                this.name = e.target.files[0].name
            },
            submit (e) {
                const fd = new FormData()

                axios.post('/sendAttachPDF', {
                    draft_id: this.draft_id,
                    name: this.name
                })
                e.preventDefault()
            }
        }
    }
</script>
