<template>
    <div class="row">
        <div class="col-sm-12">
            <div class="element-wrapper">
                <h6 class="element-header">Dernières commandes</h6>
                <div class="element-box-tp">
                    <!--------------------
START - Controls Above Table
-------------------->
                    <div class="controls-above-table">
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-sm btn-secondary"
                                                      href="#">Download CSV</a>
                            </div>
                        </div>
                    </div>    <!--------------------
    END - Controls Above Table
    ------------------          -->
                        <!--------------------
    START - Table with actions
    ------------------  -->
                        <div class="table-responsive">
                            <table class="table table-bordered table-lg table-v2 table-striped">
                                <thead>
                                <tr>
                                    <th>Nom du client</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>John Mayers</td>
                                    <td class="text-center">
                                        <div class="status-pill green" data-title="Complete"
                                             data-toggle="tooltip"></div>
                                    </td>
                                    <td class="row-actions"><a href="#"><i
                                        class="os-icon os-icon-ui-49"></i></a><a href="#"><i
                                        class="os-icon os-icon-grid-10"></i></a><a
                                        class="danger" href="#"><i
                                        class="os-icon os-icon-ui-15"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</template>
<script>
    export default {}
</script>
