<template>
    <div class="element-content">

        <div class="row">

            <div class="col-sm-4 col-xxxl-3"><a class="element-box el-tablo" href="#">
                <div class="label">Total des requêtes</div>
                <div class="trending trending">
                    <span class="value">{{totalRequest}}</span>
                </div>
            </a></div>

            <div class="col-sm-4 col-xxxl-3">
                <a class="element-box el-tablo" href="#">
                    <div class="label">Requetes en cours de traitement</div>
                    <div class="trending trending-up-basic">
                        <span class="value">{{totalTreat}}</span>
                    </div>
                </a></div>

            <div class="col-sm-4 col-xxxl-3"><a class="element-box el-tablo" href="#">
                <div class="label">Requêtes non traitées</div>
                <div class="trending trending-down-basic">
                    <span class="value">{{totalNoTreat}}</span>
                </div>
            </a></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "treatStatsRow",
        data(){
            return{

            }
        },
        mounted() {
            this.$store.dispatch('getAllRequestCount')
            this.loadWidgetData()
        },
        methods:{
            loadWidgetData(){
                this.$store.dispatch('loadWidgetDatas')
            }
        },
        computed:{
            totalRequest:function () {
                return this.$store.getters.totalrequetes;
            },
            totalNoTreat:function () {
                return this.$store.getters.getNoTreatRequestListCount
            },
            totalTreat:function () {
                return this.$store.getters.getTreatRequestListCount
            },

        }
    }

</script>

<style scoped>

</style>
