<template>

    <div class="row">
        <div class="col-sm-12">
            <div class="element-wrapper">
                <h6 class="element-header">Dernières requêtes</h6>
                <div class="element-box">
                    <div class="table-responsive">
                        <table class="table table-lightborder">
                            <thead>
                            <tr>
                                <th>Clients</th>
                                <th>Sujet de la requêtes</th>
                                <th class="text-center">Status</th>
                            </tr>
                            </thead>
                            <tbody>

                                <template v-for="request in requetes">
                                    <tr>
                                        <td class="nowrap">{{request.lname}}</td>
                                        <td>{{request.draft_subject}}</td>

                                        <td v-if="request.admin_id==null" class="text-center">
                                            <div class="status-pill red" data-title="Cancelled"
                                                 data-toggle="tooltip"></div>
                                            <span>Non traité</span>
                                        </td>
                                        <td v-else class="text-center">
                                            <div class="status-pill green" data-title="ongoing"
                                                 data-toggle="tooltip"></div>
                                            <span>En cours de traitement</span>
                                        </td>


                                    </tr>
                                </template>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>


</template>
<script>
    import {mapGetters} from 'vuex'
    export default {
        name: 'stats',
        data () {
            return {
                requests:{},
                requestCount: 0,
                requestNumber: 0,
                last_request_count: 0
            }
        },
        computed:{
            getRequetes:function () {
                var request=this.$store.getters.requetes
                var count=Object.keys(request).length
                this.requestNumber=count
                return this.$store.getters.requetes
            },
            ...mapGetters(['requetes'])
        },
        mounted () {
            this.$store.dispatch('loadRequest')
        }
    }
</script>
