<template>
    <div class="slidePreview">
        <img :src="this.url" alt="slide-image" height="300" width="300">
    </div>

</template>

<script>
    export default {
        name: "upload-image",
        props:['url'],
        data(){
            return{

            }
        },
        mounted() {
            console.log(this.url)
        }
    }
</script>

<style scoped>



</style>
