<template>
    <div class="content-box">
        <div class="full-chat-w">
            <div class="full-chat-i">
                <div class="full-chat-left">
                    <!--partie tabullation-->
                    <div class="os-tabs-w">
                        <ul class="nav nav-tabs upper centered">
                            <li class="nav-item">
                                <a class="nav-link active show" data-toggle="tab" href="#tab_overview">
                                    <i class="os-icon os-icon-mail-14"></i>
                                    <span>Discussions</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- partie tabullation-->
                    <div class="chat-search">
                        <input type="hidden" id="auth_id" :value="auth_user">
                        <div class="element-search">
                            <input placeholder="Search users by name..." type="text">
                        </div>
                    </div>
                    <!-- TODO get  la liste des utilisateurs-->
                    <div class="user-list">
                        <template v-for="chatSubject in chatsSubject()">
                            <router-link class="user-w" :to="{name:'chat',params:{id:chatSubject.id}}" >
                                <div class="avatar with-status status-green">
                                    <img alt="" src="img/avatar1.jpg"></div>
                                <div class="user-info">
                                    <div class="last-message">Sujet de la requête :{{chatSubject.draft_subject}}</div>
                                  <!--  <div class="user-name">Soumis par : {{user.lname}} {{user.fname}} </div>-->
                                </div>
                            </router-link>
                        </template>
                    </div>
                    <!--fin avoir la liste des utilisateurs-->
                </div>

                <router-view :admin_id="auth_user" ></router-view>
                <!-- fin get liste des messages par utilisateurs-->
            </div>

        </div>

    </div>
</template>

<script>
    import mapGetterrs from 'vuex'
   import SingleChat from "./SingleChat";
    export default {
        name: "chatComponent",
        props:['auth_user'],
        components: {SingleChat},
        data(){
            return{
                chatRequests:[]
            }
        },
        mounted() {
            let auth_id=document.getElementById("auth_id").value;
            this.$store.dispatch('getAllRequestSubject')
        },
        methods:{
            chatsSubject : function(){
                return this.$store.getters.getDiscussions
            }
        },
        computed :{

        }

    }
</script>

<style scoped>

</style>
