<template>


    <div class="full-chat-middle">
        <div class="chat-head">
            <div class="user-info"><span>To:</span><a href="#">asdasd</a></div>
            <div class="user-actions"><a href="#"><i class="os-icon os-icon-mail-07"></i></a><a
                href="#"><i class="os-icon os-icon-phone-18"></i></a><a href="#"><i
                class="os-icon os-icon-phone-15"></i></a></div>
        </div>
        <div class="chat-content-w">
                <div class="chat-content">

                  <!--  <template v-for="discussion in discussionsList">
                        <input type="hidden" id="requestId" :value="discussion.request_id">
                        <input type="hidden" id="clientId" :value="discussion.client_id">
                        <template  v-if="discussion.from===1">
                            <div class="chat-message self">
                                <div class="chat-message-content-w">
                                    <div class="chat-message-content">

                                    </div>
                                </div>
                                &lt;!&ndash;<div class="chat-message-date">{{discussion.discuss_at}}</div>&ndash;&gt;
                            </div>
                        </template>
                        <template v-else>
                            <div class="chat-message">
                                <div class="chat-message-content-w">
                                    <div class="chat-message-content">

                                    </div>
                                </div>
                            </div>
                        </template>
                    </template>-->
                </div>

        </div>
        <div class="chat-controls">
            <form @submit.prevent="sendResponseToUser" method="post">
                <div class="chat-input">
                    <textarea placeholder="Entrer votre message ici ..." v-model="message" ></textarea></div>
                <div class="chat-input-extra">
                    <div class="chat-extra-actions">
                        <a href="#"><i class="os-icon os-icon-mic"></i></a>
                        <a href="#"><i class="os-icon os-icon-phone-18"></i></a>
                        <a href="#"><i class="os-icon os-icon-phone-15"></i></a>
                    </div>
                    <div class="chat-btn">
                        <input class="btn btn-primary btn-sm" type="submit" value="Répondre">
                    </div>
                </div>
            </form>

        </div>

    </div>
</template>


<script>
    export default {
        name: "SingleChat",
        props:['admin_id'],
        data() {
            return {
                /*pour le moment c'est nul*/
                img_agt:'/img/agent.jpg',
                img_usr:'/img/user.png',
                message:'',
                id_user:this.auth_user,
                attachment:[],
            }
        },
        mounted() {
           this.loadConversations()

        },
        computed: {

        },
        methods: {
            loadConversations: function () {

                this.$store.dispatch('fetchDiscussionContent', {
                    draft_id: this.$route.params.id
                })
            },
            /*
            * reponse de l'administrateur
            */
            sendResponseToUser:function () {

                let _formdata=new FormData();
                _formdata.append('to_id',1)
                _formdata.append('content',this.message)
                _formdata.append('draft_id',this.$route.params.id)
                _formdata.append('from_id',this.admin_id)


                this.$store.dispatch('respondeToUser',_formdata).then(response=>{

                }).catch(response=>{

                });

            }
        },
        watch: {
            '$route.params.id': function () {
                this.loadConversations()
            }
        }
    }
</script>

<style scoped>

</style>
