<template>
    <div class="content-box">
        <!-- partie des précommande -->
        <div class="element-wrapper">
            <div class="element-header">
                Initialisation de la commande
            </div>
            <div class="element-box">
                <div class="form-desc">
                    <p>Affichage de toutes les commandes en attente d'initialiser</p>
                </div>
                <div class="form-group">
                    <div class="table-responsive">
                        <table class="table table-lightborder">
                            <thead>
                            <tr>
                                <th>Nom du client</th>
                                <th>Sujet de la requete </th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <template v-for="preorder in preorderedList">

                                <tbody>
                                    <tr>
                                        <td>{{preorder.lname}} {{preorder.fname}}</td>
                                        <td>{{preorder.draft_subject}}</td>
                                        <td>
                                            <router-link
                                                class="btn btn-success"
                                                :to="{name:'SingleRequest',params:{id:preorder.id}}">
                                                <i class="os-icon os-icon-edit"></i>
                                                   Modifier
                                            </router-link>
                                        </td>
                                    </tr>
                                </tbody>
                            </template>
                        </table>
                    </div>
                </div>
            </div>
            <!---->
            <div class="element-box">
                <div class="form-header">
                    <div class="row">
                        <h5 class="col-sm-12">
                            Commande
                        </h5>

                    </div>
                </div>
                <div class="form-desc">
                    <p>Affichage de toutes les Commandes en cours de paiement</p>
                </div>
                <div class="form-group">
                    <div class="table-responsive">
                        <table class="table table-lightborder">
                            <thead>
                            <tr>
                                <th>Sujet de la requete</th>
                                <th>Nom du client</th>
                                <th>Etat de paiement</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <template v-for="payment in paymentList">

                                <tbody>
                                    <tr>
                                        <td>{{payment.draft_subject}}</td>
                                        <td>{{payment.lname}} {{payment.fname}}</td>
                                        <td v-if="payment.purchase_state === 0">
                                            <p v-if="payment.state === 6"> En attente de paiement</p>
                                            <p v-else>Paiement en cours</p>
                                        </td>
                                        <td v-else>Paiement terminer</td>

                                        <td>
                                            <router-link
                                                class="btn btn-outline-success"
                                                :to="{name:'SingleRequest',params:{id:payment.id_draft}}">
                                                    Voir
                                                <i class="os-icon os-icon-eye"></i>
                                            </router-link>
                                        </td>
                                    </tr>
                                </tbody>
                            </template>
                        </table>
                    </div>
                </div>
                {{paymentList}}
            </div>
        </div>
    </div>
</template>

<script>

    import Axios from 'axios'
    import _ from 'lodash'
    export default {
        name: "preOrderComponent",

        data() {
            return {
                src: '/admin/orderClients',
                clients: [],
                dmBillNumber: 0,//numero du recu
                bkBillNumber: 0,//numero deu bordereau de la bamque
                clientId: 0,
                requests: '',
                request: 0,
                name:"",
                clientRequest: null,
                user: 0,
                query:"",
                total:0,
                limit: 5,
                model:'',
                selectFirst: false,
                selectedClient:' '

            }
        },
        mounted() {
            this.getInqueuePreOrder()
            this.getAllPaymentProcessList()
        },
        methods: {
            closeModal(){
              window.location.reload()
            },

            getClientId(event) {
                console.log(this.requests)
            },



            emitPreorder: function (e) {

                let formadata = new FormData

                formadata.append('client_id', this.clientId)
                formadata.append('request_id', this.request)
                formadata.append('total', this.total)


                this.$store.dispatch('emmitPreorder', formadata).then(response => {
                    if (response.data.emmitOrderStatus === 200) {
                        this.$toasted.show('le bon de commande a bien été emis ! Vous pouvez fermez la fenetre ', {
                            theme: "outline",
                            position: "top-center",
                            duration: 5000,
                            type: 'success'
                        })
                    }
                })
            },
            getInqueuePreOrder: function () {
                this.$store.dispatch('loadPreOrderInqueueRequest')
            },

            getAllPaymentProcessList(){
                this.$store.dispatch('loadAllPayementProcess')
            }
        },
        /*charger les requetes */
        computed: {
            ordersList: function () {
                return this.$store.getters.getClientOrders
            },
            getotal:function () {
                return this.$store.getters.getClientOrders.length

            },
            preorderedList:function () {
                return this.$store.getters.getAllPreOrder
            },
            paymentList:function () {
                return this.$store.getters.getAllPaymementProcess
            }
        },
        watch:{
            query:_.debounce(function (addr) {
                this.loadClients(addr)
            },500)
        }


    }
</script>
