<template>
    <div class="content-box">
        <!-- partie des précommande -->
        <div class="element-wrapper">
            <div class="element-header">
                Infornations detaillés
            </div>
        </div>
                <div class="row">

                    <pre-order-details></pre-order-details>
                    <!--stats de l'utilisateurs avec ses details -->

                </div>
            </div>
</template>

<script>
    import PreOrderUserStat from "../../OrderWidgets/PreOrderUserStat";
    import PreOrderDetails from "../../OrderWidgets/PreOrderDetails";

    export default {
        name: "UserOrderComponent",
        components:{PreOrderUserStat,PreOrderDetails}

    }
</script>

<style scoped>

</style>
