<template>
    <div class="container-fluid">
            <div class="element-wrapper">
                <h6 class="element-header">Informations de bases</h6>
                <div class="element-content">
                    <div class="row">

                        <div class="col-sm-4 col-xxxl-3"><a class="element-box el-tablo" href="#">
                            <div class="label">Total des requêtes</div>
                            <div class="value"></div>
                            <div class="trending trending-up-basic"><span>0</span><i
                                class="os-icon os-icon-arrow-up2"></i></div>
                        </a></div>

                        <div class="col-sm-4 col-xxxl-3">
                            <a class="element-box el-tablo" href="#">
                                <div class="label">Bon de commandes</div>
                                <div class="value">0</div>
                                <div class="trending trending-up-basic"><span>0</span><i
                                    class="os-icon os-icon-arrow-down"></i></div>
                            </a></div>

                        <div class="col-sm-4 col-xxxl-3"><a class="element-box el-tablo" href="#">
                            <div class="label">Total des commandes</div>
                            <div class="value">0</div>
                            <div class="trending trending-up-basic"><span>0</span><i
                                class="os-icon os-icon-arrow-down"></i></div>
                        </a></div>
                        <div class="d-none d-xxxl-block col-xxxl-3"><a class="element-box el-tablo"
                                                                       href="#">
                            <div class="label">Refunds Processed</div>
                            <div class="value">$294</div>
                            <div class="trending trending-up-basic"><span>12%</span><i
                                class="os-icon os-icon-arrow-up2"></i></div>
                        </a></div>
                    </div>
                </div>
            </div>
        <stats></stats>
    </div>
</template>



<script>
    import orderComponent from './../subComponents/OrderComponent'
    import stats from "./sub/stats"
    export default {
        name: "Home",
        components: {orderComponent,stats},
        data(){
            return{

            }
        },
        mounted() {
            this.$store.dispatch("loadAllMyRequest")
        },
        methods:{

        },
        computed:{
        }
    }
</script>

<style scoped>

</style>
