<template>
    <div class="content-box">
        <div class="element-wrapper">
            <h5 class="element-header">
                Requête
            </h5>
            <div class="element-box">
                <h5 class="form-header">Assignation de requêtes </h5>
                <div class="form-desc">
                   Consultation de toutes les requetes qui m'ont été assigné et que je traite

                    <div class="table-responsive">
                        <table class="table table-lightborder">
                            <thead>
                            <tr>
                                <th>Client</th>
                                <th>Sujet de la requête</th>
                                <th>Statut</th>
                                <th>Actions</th>

                            </tr>
                            </thead>
                            <tbody>
                            <template>
                                <tr v-for="request in allMyRequest">
                                    <td>
                                        {{request.lname}}
                                    </td>
                                    <td>
                                        {{request.draft_subject}}
                                    </td>
                                    <template v-if="request.state===0 || request.state===null ">
                                        <td >
                                            <div class="status-pill orange" data-title="Cancelled"
                                                 data-toggle="tooltip"></div>
                                            <span>En attente de traitement</span>
                                        </td>
                                    </template>
                                    <template v-if="request.state===1">
                                        <td >
                                            <div class="status-pill green" data-title="Cancelled"
                                                 data-toggle="tooltip"></div>
                                            <span>En cours de traitement</span>
                                        </td>
                                    </template>
                                    <template v-else-if="request.state===2">
                                        <td >
                                            <div class="status-pill green" data-title="ongoing"
                                                 data-toggle="tooltip"></div>
                                            <span>En processus de validation</span>
                                        </td>
                                    </template>
                                    <td>
                                        <router-link class="btn btn-outline-dark" :to="{name:'SingleRequest',params:{id:request.id}}">
                                            Consulter
                                        </router-link>
                                    </td>
                                </tr>
                            </template>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "MyAssignRequest",
        data(){
            return{

            }
        },
        mounted() {
            this.$store.dispatch("loadAllMyRequest")
        },
        methods:{

        },
        computed:{
            allMyRequest:function () {
                return this.$store.getters.getMyAssignedList
            }
        }
    }
</script>

<style scoped>

</style>
