<template>
    <div class="content-box">
        <div class="element-wrapper">
            <div class="element-header">
                Requêtes annulées
            </div>
            <div class="element-box">
                <h5 class="form-header">Liste des requêtes annulées</h5>
                <div class="form-desc">
                    Consultez la liste de toutes les requêtes modifiées et les raisons
                </div>
                <div class="table-responsive">
                    <template v-if="getCancelListCount >0">
                        <table class="table table-lightborder">
                            <thead>
                            <tr>
                                <th>Sujet de la requête</th>
                                <th>Motifs</th>
                                <th>Annulée par</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <template v-for="cancelItem in getCancelList">
                                <tr>
                                    <td>{{cancelItem.draft_subject}}</td>
                                    <td>{{cancelItem.reason}}</td>
                                    <td>{{cancelItem.username}}</td>
                                    <td>
                                        <button class="btn btn-warning" data-toggle="modal" data-target="#resend" @click="loadCancelRequestDetails(cancelItem)">
                                            Re-soumettre
                                        </button>
                                    </td>
                                </tr>
                                <div class="modal fade" id="resend" role="dialog">
                                    <div class="modal-dialog modal-centered" role="document">
                                        <form action="">
                                            <div class="modal-content text-center">
                                                <div class="modal-header">
                                                    <h6 class="modal-title">Re-soumettre la facture</h6>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">Fermez</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group row">
                                                        <div class="col-sm-4">
                                                            <label>Nouvelle Facture</label>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <input type="file" placeholder="Nouvelle facture"
                                                                   class="form-control" @change="getFile">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <label class="label">Commentaire</label>
                                                            </div>
                                                            <div class="col-sm-8">
                                                                 <textarea
                                                                     placeholder="Un petit commentaire pour accompagner la facture (Facultatif)"
                                                                     v-model="comment" class="form-control" id=""></textarea>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit"
                                                            @click.prevent="revalidateRequest()"
                                                            class="btn-info text-white">Resoumetre
                                                    </button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </template>
                            </tbody>

                        </table>
                    </template>
                    <template v-else>
                        <h6 class="text-center">Aucune requête n'a été annulé pour le moment</h6>
                    </template>
                </div>

                <!--modal for resend the file -->

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "RequestCancel",
        data() {
            return {
                comment: '',
                file:null,
                id:0
            }
        },
        /*constructeur*/
        mounted() {
            this.loadCancelsRequests()
        },
        /*methods and functions*/
        methods: {
            /*charger les requetes qui ont ete annule*/
            loadCancelsRequests: function () {
                this.$store.dispatch('loadCancelList')
            },
            loadCancelRequestDetails:function(data){
               this.id =data.id
            },

            getFile:function (event) {
                this.file=event.target.files[0];
            },
            closeDialogForm:function(e){

            },
            revalidateRequest: function (e) {
               let formData=new FormData
                formData.append('bill',this.file)
                formData.append('comment',this.comment)
                let requestId=this.id

                this.$store.dispatch('revalidateRequest',{requestId,formData}).then(response=>{
                        if (response.data.code===200){
                            this.$toasted.show(`La requete a bien été resoumise à l'administarateur pour re-validation`,
                                {
                                    theme: 'outline',
                                    position: 'top-center',
                                    type: 'success',
                                    duration: 4000
                                });

                        }
                }).catch(failure=>{
                    this.$toasted.show(`Erreur lors de la soumission de la requete  à l'administarateur pour re-validation`,
                        {
                            theme: 'outline',
                            position: 'top-center',
                            type: 'error',
                            duration: 4000
                        });
                })


            },

        },
        /*
        computed
        * */
        computed: {
            getCancelList: function () {
                return this.$store.getters.getCancelList
            },
            getCancelListCount: function () {
                return this.$store.getters.getCancelCount

            }
        }
    }
</script>

<style scoped>

</style>
