<!--recuperer la liste des requetes ayant ete valide-->
<template>
    <div class="content-box">
        <div class="element-wrapper">
            <div class="element-box">
                <h5 class="form-header">Requêtes valide</h5>
                <div class="table-responsive">
                    <table class="table table-lightborder">
                        <thead>
                        <tr>
                            <th>Sujet de la requete</th>
                            <th>Nom du client</th>
                            <th>Validé par</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <template v-for="request in getVRequest">

                            <tr>
                                <td>{{request.draft_subject}}</td>
                                <td>{{request.lname}} {{request.fname}}</td>
                                <td>{{request.username}}</td>
                                <td>
                                  <!--  <button class="btn btn-outline-success" @click="loadSingleRequestDetails(request.id)" data-toggle="modal" data-target="#respondeToUserModal">Repondre au client</button>
                                   -->
                                    <a :href="request.attachment_url" target="_blank" class="btn btn-info">
                                        <i class="os-icon os-icon-eye"></i>
                                        Consulter la facture
                                    </a>
                                    <button class="btn btn-success" @click="respondeToUser(request.client_id,request.id)"  data-toggle="modal">
                                       Envoyer à l'utilisateur
                                        <i class="os-icon os-icon-play"></i>
                                    </button>

                                </td>
                            </tr>


                        </template>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "RequestValidate",

        /**
         * data contient les variables
         * faire une requete permettant de recupere la liste des  trucs valid2es
         */
        data() {
            return {
                client_id:0,
                total:0,
                requestResponse:{},
                request_id:0,
                clientDetails:'',
                subject:'',
                attachment_url:'google',
                messageContent:'',
                isModalVisible:false
            }
        },
        methods: {
            loadValidateRequest() {
                this.$store.dispatch('loadVRequest')
            },

            RespondeToClient(client_id,e){
                let formData=new FormData()
                formData.append('client_id',client_id)
                formData.append('request_id',this.request_id)
                formData.append('requestBillUrl',this.attachment_url)

                alert(this.request_id)
               /* this.$store.dispatch('respondeToClient',formData).then(response=>{
                    this.$toasted.show('La reponse a bien été soumise à '+this.clientDetails,
                        {
                            theme: 'outline',
                            position: 'top-center',
                            type: 'success',
                            duration: 4000
                        })
                });*/
            },
            getFile(url){
                console.log(url)
                window.open(url,'_blank')
            },
            passCommande(id){
                this.$store.dispatch('passCommand',id).then(response=>{
                    if (response.statut==200){
                        this.$toasted.show('La requete est bien été en commande',
                            {
                                theme: 'outline',
                                position: 'top-center',
                                type: 'success',
                                duration: 4000
                            })
                        window.location.reload()

                    }else{
                        this.$toasted.show('La requete est bien été en commande',
                            {
                                theme: 'outline',
                                position: 'top-center',
                                type: 'error',
                                duration: 4000
                            })

                    }

                });
                window.location.reload()
            },
            respondeToUser(id,request_id){
                axios.post('/manager/responde/'+id,{
                    'request_id':request_id
                })
                        .then(response=>{

                        }).catch(rejected=>{

                         })

            }

        },
        computed: {
            getVRequest() {
                return this.$store.getters.getvRequest
            },

        },
        mounted() {
            //faire la fonction de loading
            this.loadValidateRequest()
        }
    }
</script>


