<template>


    <div class="ae-content-w">

        <div class="ae-content">
            <div class="aec-full-message-w show-pack">
                <div class="more-messages">Traitement de la requêtes</div>
                <div class="aec-full-message">
                    <div class="message-head">
                        <div class="user-w with-status">
                            <div class="user-avatar-w">
                                <div class="user-avatar">
                                    <img :src="image_url" alt=""/>
                                </div>
                            </div>
                            <div class="user-name"><h6 class="user-title">{{requete.lname}} {{requete.fname}} </h6>
                                <div class="user-role">Sujet de la requête<span>< {{requete.draft_subject}}></span>
                                </div>
                                <div v-if="requete.admin_id===null">
                                    <button @click="treat()" class="mt-4 btn btn-primary btn-rounded" type="button">
                                        Traiter
                                    </button>
                                </div>

                            </div>
                        </div>
                        <div class="message-info">Date réception<br>{{requete.received_at}}</div>
                    </div>

                    <div class="message-content">Présentation de la requête<br/>

                        <hr>
                        <p><span style="text-decoration: underline">Quantité demandé</span> :
                            {{requete.draft_quantity}}</p>
                        <p><span style="text-decoration: underline">Descriptif </span>: {{requete.draft_content}}
                        </p>
                        <p><span style="text-decoration: underline">Addresse </span>: {{requete.address}}
                        </p>
                        <p><span style="text-decoration: underline">Telephone </span>: {{requete.telephone}}
                        </p>
                        <p><span style="text-decoration: underline">Mode de livraison </span>:
                            <span v-if="requete.draft_deliver_mode===1">Express</span>
                            <span v-else>Classique</span>
                        </p>
                        <p>

                        <div>
                        </div>
                        <!--partie fichiers attachés-->

                        <div class="message-attachments">
                            <div class="attachments-heading">Fichiers attachés</div>

                            <div class="attachments-docs">
                                <template v-if="getFileCount===0">
                                    <h5 class="attachments-heading text-center">Aucun fichiers attachés</h5>
                                </template>
                                <template v-else>
                                    <template v-for="attachment in getAttachment">
                                        <a :href="attachment.attachment_url">
                                            <i class="os-icon os-icon-documents-07"></i>
                                            <span>Image File</span>
                                        </a>
                                    </template>
                                </template>
                            </div>


                        </div>
                    </div>
                </div>

                <template class="my-5" v-if="requete.state ===0">
                    <div class="aec-reply">
                        <div class="reply-header">
                            <h5><span> Validation</span></h5>

                        </div>
                        <p class="alert alert-info text-white">Veuillez soumettre un fichier au format excel pur
                            validation</p>

                        <form enctype="multipart/form-data" method="post">
                            <div class="form">
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-form-label col-sm-4" for="excel_file">
                                            <i class="os-icon os-icon-ui-51"></i><span>Ajouter le fichier</span>
                                        </label>
                                        <div class="col-sm-8">
                                            <input @change="selectFile" class="form-control-file" id="excel_file"
                                                   type="file"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-sm-4 col-form-label" for="">Destinataire</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="" v-model="to_id">
                                                <option :selected="true" default>Selectionnez l'administrateur qui
                                                    validera la reqûete
                                                </option>
                                                <template v-for="admin in admins">
                                                    <template v-if="admin.id !== auth_user">
                                                        <option :value="admin.id">{{admin.username}}</option>
                                                    </template>

                                                </template>

                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <input @click.prevent="SendForValidation" class="btn btn-outline-success" type="button"
                                       value="soumettre à validation"/>
                            </div>
                        </form>
                    </div>
                </template>


            </div>
            <div class="aec-full-message-w show-pack " v-if="requete.state === 5">

                <div class="aec-full-message">
                    <div class="element-box">
                        <form action="">
                            <h5 class="form-header ">Commande</h5>
                            <div class="form-desc">
                                Remplisser ce formulaire en vue d'iniialiser la commande.Une notification sera envoyé au
                                client lui permettant
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4" for="">Prix total de la commande</label>
                                <div class="col-sm-8">
                                    <input class="form-control" placeholder="Prix total de la commande " type="number"
                                           v-model="total">
                                </div>

                            </div>
                            <div class="form-buttons-w">

                                <button class="btn btn-primary">
                                    <button @click="initCommand(requete.id,total)" class="btn btn-primary"
                                            type="button">Envoyer
                                    </button>
                                </button>
                            </div>
                        </form>
                    </div>


                </div>

            </div>
            <div class="element-box-content" v-if="requete.state === 6">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading text-white text-center">Commande en cours</h4>
                    <p class="text-white text-center">
                        L'utilisateur a bien reçu la notification l'invitant à commencer le paiement de sa commande.
                        En attente de paiement
                    </p>

                </div>
            </div>
            <div class="aec-full-message-w show-pack " v-if="requete.state === 7">
                <div class="aec-full-message">
                    <div class="element-box">
                        <h5 class="form-header ">Paiement</h5>
                        <div class="form-desc">
                            Consultez les details de paiement de la commande
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <th>Payé le </th>
                                    <th>Méthode de paiement </th>
                                    <th>Total à payer </th>
                                    <th>Montant payé </th>
                                    <th>Reste à payer </th>
                                </thead>
                                <tbody>
                                <template v-for="payment in payments">
                                    <tr>
                                        <td>{{payment.paid_at}}</td>
                                        <td>{{payment.payment_method}}</td>
                                        <td>{{payment.total_price}}</td>
                                        <td>{{payment.paid}}</td>
                                        <td>{{payment.rest}}</td>
                                    </tr>
                                </template>

                                </tbody>
                            </table>
                        </div>

                    </div>


                </div>



            </div>

        </div>
        <!--partie envoyer le pdf-->
    </div>


</template>
<script>
    import pdfRequest from '../../subComponents/formPDFRequest'
    import {mapGetters} from 'vuex'


    export default {
        components: {pdfRequest},
        props: ['auth_user'],
        data() {
            return {

                to_id: 0,
                status: '',
                image_url: '/img/userAvatar.png',
                file: {},
                is_treat: 0,
                selected: 'dfsd',
                total: 0
            }
        },
        computed: {
            requete: function () {
                return this.$store.getters.getRequete
            },
            admins: function () {
                return this.$store.getters.getAdmins
            },
            authId: function () {
                this.auth_id = this.$store.getters.getIdAuth;
                return this.$store.getters.getIdAuth
            },
            payments:function () {
              return this.$store.getters.getRequestPaymentProcess
            },
            ...mapGetters(['getRequete', 'getFileCount', 'getAttachment'])
        },
        methods: {

            /**
             * Permet de selectionner le fichier à envoyer
             * */
            selectFile: function (e) {
                this.file = e.target.files[0];

            },
            loadContent: function () {

                this.$store.dispatch('loadRequestComponent', this.$route.params.id)
            },
            loadAdminsList: function () {
                this.$store.dispatch('loadAdmins')
            },
            loadAuthId: function () {
                this.$store.dispatch('getIdAuth');
            },
            /**
             * fonction devrant permettre de marquer le requête
             */
            treat: function () {
                this.$store.dispatch('markAsTreat', {
                    request_id: this.$route.params.id,
                    auth_id: this.auth_user,
                });
                this.is_treat = 1;
                this.$toasted.show('Requete en cours de traitement', {
                    theme: "outline",
                    position: "top-center",
                    duration: 5000
                })
                window.location.reload()
            },
            /**
             * permet d'envoyer un fichier au format excel
             * à l'administrateur
             * @param event
             * @constructor
             */
            SendForValidation: function (event) {
                /**
                 * envoyer le formulaire via formdata
                 */
                let formdata = new FormData();
                let request_id = this.$route.params.id;
                formdata.append('request_id', request_id);
                formdata.append('to_id', this.to_id);
                formdata.append('pdfFile', this.file);
                console.log('formdata', formdata);

                const config = {
                    headers: {
                        'content-type': 'multipart/form-data',
                    }
                };

                const validateRequest = this.$store.dispatch('validateRequest', {formdata, request_id, config})
                    .then(result => {
                        if (result.data.code === 200) {
                            this.$toasted.show('le document a bien eté envoyé pour validation', {
                                theme: "outline",
                                position: "top-center",
                                duration: 5000,
                                type: 'success'
                            })
                            window.location.reload()
                        }
                    })
                    .catch(error => {
                        if (error.data.code === 600) {
                            this.$toasted.show('Erreur lors de l\' envoie', {
                                theme: 'bubble',
                                position: 'top-center',
                                type: 'error',
                                duration: 2000
                            })
                        }

                    });

            },

            initCommand: function (id, total) {

                this.$store.dispatch('emmitOrder', {id, total})
                    .then(success => {
                        console.log(success.data.emmitOrderStatus)
                    })
                    .catch(failure => {
                        console.log(failure)
                    })
                event.preventDefault()

            }

        },
        watch: {
            '$route.params.id': function () {
                this.loadContent()
            },

        },
        mounted() {
            //faire la requete ajax pour récupérer les éléments demandé
            this.id = this.$route.params.id;
            this.loadContent();
            this.loadAdminsList();
            this.loadAuthId();
        }


    }

</script>
