<template>
    <div class="content-box">
        <div class="element-wrapper">
            <h5 class="element-header">
                Requête
            </h5>
            <div class="element-box">
                <h5 class="form-header">Assignation de requêtes </h5>
                <div class="form-desc">
                    Veuillez selectionner la requete et l'assigner a l'agent concerne
                    <div class="table-responsive">
                        <table class="table table-lightborder">
                            <thead>
                            <tr>
                                <th>Sujet de la requête</th>
                                <th>Agent à assigner </th>

                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                       <select class="form-control select2-dropdown" v-model="draft_id">
                                           <option value="0" default >Veuillez selectionnez la requete concerné</option>
                                           <option v-for="noTreat in noTreatList " :value="noTreat.id">{{noTreat.draft_subject}}</option>
                                       </select>

                                    </td>
                                    <td>
                                        <select class="form-control select2" v-model="traitor_id">
                                            <option value="0" default>Veuillez selectionnez l'agent concerné</option>
                                            <option v-for="traitor in traitorList" :value="traitor.id">{{traitor.username}}</option>
                                        </select>

                                    </td>
                                </tr>
                            <!--on va boucler sur les requetes
                                requetes inbriqué
                                Pour tel nombre de  requetes

                                donc il me faut recuperer la liste des requetes qui
                                n'ont pas encore de gars pour traiter et ensuite
                                recuperer la liste de tout ceux qui sont de types traiteurs de requetes
                            -->



                            </tbody>
                        </table>
                        <button type="button" class="centered text-center btn btn-outline-success d-flex align-items-center" @click="assignRequest">Assigner</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name:"AssignRequest",
        data(){
            return{
                draft_id:0,
                traitor_id:0,
            }
        },
        mounted() {
           this.loadNoTreatRequestList()
            this.loadTraitorsList()
        },
        computed:{
           noTreatList:function () {
              return  this.$store.getters.getNotreatList
           },
            traitorList:function () {
                return this.$store.getters.getTraitorList
            }
        },
        methods:{
            /*recuperer toutes les requete n'ayant pas d'admin*/
            loadNoTreatRequestList:function (){
                this.$store.dispatch('notreat')
            },
            /*recuperer la liste de traiteurs de requetes */
            loadTraitorsList:function () {
              this.$store.dispatch('traitors')
            },

            assignRequest:function () {


                axios.put('/axios/request/assign',{
                    'draft_id':this.draft_id,
                    'traitor_id':this.traitor_id
                }).then(success=>{

                    if (success.data.status===200){
                        this.$toasted.show('L\'assignatation de la requete a été bien faite',{
                            theme: "toasted-primary",
                            position: "top-right",
                            duration : 5000
                        })
                    }
                    window.location.reload()
                }).catch(reject=>{
                    this.$toasted.show('Erreur lors de l\'assignatation de la requête',{
                        theme: "toasted-primary",
                        position: "top-right",
                        duration : 5000
                    })
                });
            }
        }

    }
</script>
