<template>
    <div class="content-box">
        <div class="modal fade" id="lastBill" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-centered" role="document">
                <form action="" enctype="multipart/form-data">
                    <div class="modal-content text-center ">
                        <div class="modal-header">
                            <h5 class="modal-title">Facture finalisée</h5>
                            <button type="button" class="close" @click="closeModal()"
                                    aria-label="Close">
                                <span aria-hidden="true">Fermez</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="file" v-on:change="getFile" ref="file"
                                   class="form-control form-control-file"/>
                        </div>
                        <div class="modal-footer">
                            <button type="submit"
                                    @click.prevent="validateRequest(queue.id)"
                                    class="btn btn-outline-success">Envoyer</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="element-wrapper">
            <div class="element-header">
                Requête
            </div>
            <div class="element-box">
                <h5 class="form-header">
                    Requêtes en attente de validation
                </h5>
                <div class="form-desc">
                    Consultez la liste de toutes vos requêtes en attente de validation
                    <div class="table-responsive">
                        <table class="table table-lightborder">
                            <thead>
                            <tr>
                                <th>Sujet de la requête</th>
                                <th>En charge de la requetes</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <template>
                                <tr v-for="queue in getInQueueRequest">
                                    <td>{{queue.draft_subject}}</td>
                                    <td>{{queue.username}}</td>
                                    <td>
                                        <a class="btn btn-rounded btn-outline-info" target="_blank"
                                           :href="queue.attachment_url">
                                            <span class="text-center">Voir la facture</span>
                                        </a>
                                        <router-link class="btn btn-rounded btn-outline-info" target="_blank"
                                           :to="{name:'SingleRequest',params:{id:queue.id}}">
                                            <span class="text-center">Consulter les détails</span>
                                        </router-link>
                                        <!--pour la partie annulerr changer juste le statut-->
                                        <button class="btn btn-rounded btn-outline-danger" data-toggle="modal"
                                                data-target="#cancelRequest">Annuler
                                        </button>
                                        <!--pour Valider ouvrir un dialop pour ajouter un document et mettre à jour les attachement-->
                                        <button class="btn btn-rounded btn-outline-success" data-toggle="modal"
                                                data-target="#lastBill">Valider
                                        </button>
                                        <!--Partie modal-->

                                        <!--modal d'annulation-->
                                        <div class="modal fade" id="cancelRequest" role="dialog">
                                            <div class="modal-dialog modal-centered" role="document">
                                                <form action="">
                                                    <div class="modal-content text-center">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Raison de l'annulation de la
                                                                requête</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <textarea v-model="comment" class="form-control" id=""
                                                                      cols="30" rows="10"></textarea>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit"
                                                                    @click.prevent="cancelRequest(queue.id)"
                                                                    class="btn btn-outline-danger">Annuler la requête
                                                            </button>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "RequestInQueue",
        data() {
            return {
                bill: null,
                self: this,
                comment: ''
            }
        },
        methods: {

            closeModal:function(){
                /*fermez*/
                window.location.reload()
            },
            loadRequest: function () {
                this.$store.dispatch('getInQueue')
            },
            showFile: function (id) {
                console.log(id)
                this.$store.dispatch('getAttachedFile', id)
            },
            getFile: function (event) {
                this.bill = event.target.files[0];
            },
            validateRequest: function (id) {
                let _formdata = new FormData();
                _formdata.append('idRequest', id)
                _formdata.append('finishBill', this.bill)
                const actions = this.$store.dispatch('validateRequestBill', _formdata)
                actions.then(response => {
                    var code = response.data.code;
                    if (code === 404) {
                        this.$toasted.show("Veuillez ajouter un fichier attaché", {
                            theme: 'outline',
                            position: 'top-center',
                            type: 'error',
                            duration: 2000
                        })
                    } else {
                        this.$toasted.show("La facture a bien été validé ! Vous pouvez fermer la fenetre", {
                            theme: 'outline',
                            position: 'top-center',
                            type: 'success',
                            duration: 2000
                        })
                    }

                }).catch(response => {
                    this.$toasted.show('Erreur lors de la validation', {
                        theme: 'bubble',
                        position: 'top-center',
                        type: 'error',
                        duration: 2000
                    })
                })

            },
            cancelRequest: function (id,e) {
                let comment = this.comment
                this.$store.dispatch('cancelRequest', {id, comment}).then(response => {
                    if(response.data.update_status ===200){
                        this.$toasted.show("La requete a bien été annulée", {
                            theme: 'outline',
                            position: 'top-center',
                            type: 'success',
                            duration: 2000
                        });

                        window.location.reload()
                    }
                }).catch(failure=>{
                    this.$toasted.show("Erreur lors de l'annulation de la requête", {
                        theme: 'outline',
                        position: 'top-center',
                        type: 'error',
                        duration: 2000
                    })
                })
            }
        },
        computed: {
            ...mapGetters(['getInQueueRequest']),
        },
        mounted() {
            this.loadRequest()
        }
    }
</script>

<style scoped>

</style>
