<template>
    <div class="content-box">
        <div class="element-wrapper">
            <h5 class="element-header">
                Requête
            </h5>
            <treat-stats-row/>
            <div class="element-box">
                <h5 class="form-header">Requetes en cours de traitement</h5>
                <div class="form-desc">
                    Liste de toutes les requetes en cours de traitement
                    <div class="table-responsive">
                        <table class="table table-lightborder">
                            <thead>
                                <tr>
                                    <th>Sujet de la requête</th>
                                    <th>Envoyé par</th>
                                    <th>Traité par</th>
                                </tr>
                            </thead>
                            <tbody>
                           
                                <template v-for="request in treatmentList">

                                    <tr>
                                        <td>{{request.draft_subject}}</td>
                                        <td>{{request.lname}} {{request.fname}}</td>
                                        <td>{{request.username}}</td>


                                    </tr>
                                </template>
                                <tr>

                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import treatStatsRow from './../../subComponents/requestStats'
    export default {
        name: "RequestTreatment",
        components :{treatStatsRow},
        mounted() {
            this.$store.dispatch('loadWidgetDatas')
        },
        computed:{
            treatmentList:function () {
                return this.$store.getters.getTreatmentRequestList
            }
        }
    }
</script>

<style scoped>

</style>
