<template>
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header">Slide de l'application</h6>
            <div class="element-box">
                <form method="post">
                    <div class="form-header">
                        Veuillez choisir les images à afficher quotidiennement dans l'application
                    </div>
                    <div class="form-desc">
                        <input type="file" multiple="multiple" placeholder="Veuillez choisir les images"
                               @change="getFiles">
                        <input type="button" class="btn btn-success" value="Changer les images" @click.prevent="uploadImage">
                    </div>
                </form>
            </div>
            <div class="container-fluid">
                <h6 class="element-header">Previsualiser les images</h6>
                <template v-if="imagesSize>0">

                    <template v-for="url in fileUrl">
                        {{imagesSize}}
                        <upload-image :url="url"/>
                    </template>

                    <!--
                      chargement d'un customn image display qui va se charger de previsualiser les images avant l'upload
                    -->
                </template>
                <template v-else>
                    <p>Veuillez selectionnez une image</p>
                </template>
                <!--si slide precedent-->
                <h6 class="element-header">Images du carousel courant</h6>

            </div>
        </div>
    </div>
</template>


<script>
    import uploadImage from './subComponents/upload-image'

    export default {
        name: "AppSlide",
        data() {
            return {
                fileList: [],
                imagesSize: 0,
                fileUrl: [],
                 option: {
                     headers: {
                         'Content-Type': 'multipart/form-data'
                     }
                 }
            }
        },
        components: {uploadImage},
        mounted() {

        },
        computed: {



        },
        methods: {
            getFiles: function (event) {
                const length = event.target.files.length
                const imageFile = event.target.files

                /*
                            PSEUDO CODE
                *  si la taille du tableau est different de zero alors
                *       si la taille du tableau > 1 alors
                *               pour i allant de 0 à la taille du tableau -1 faire
                *                   ajouter les elements à l'index i au tablea
                *               FinPour
                *               taille_du_tableau=taille du tableau+nouvelle taille du tableau
                *       Sinon
                *           ajouter l'element au tableau
                *           taille_du_tableau=taille du tableau+1
                *       FinSi
                *   sinon
                *        pour i allant de 0 à la taille du tableau -1 faire
                *                   ajouter les elements à l'index i au tablea
                *         FinPour
                *               taille_du_tableau=tailleDuTablea
                *   FinSi
                * */
                if (this.imagesSize!==0){
                    if (length>1){
                        for (let i = 0; i < length; i++) {
                            this.fileList.push(imageFile[i])
                        }
                        this.imagesSize=this.imagesSize+length
                    }else{
                        this.fileList.push(imageFile[0])
                        this.imagesSize=this.imagesSize+1
                    }
                }else{
                    for (let i = 0; i < length; i++) {
                        this.fileList.push(imageFile[i])
                    }
                    this.imagesSize = length
                }

                this.readFile.apply(this, imageFile)
            },
            readFile: function (...item) {

                for (let i = 0; i < item.length; i++) {
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        this.fileUrl.push(e.target.result)
                    }
                    reader.readAsDataURL(item[i])
                }
                /* */
            },
            uploadImage: function () {

                let imageFormData=new FormData()
                for (let i = 0; i < this.fileList.length; i++) {
                    imageFormData.append("image[]",this.fileList[i])
                }

                axios.post('/api/slide/changes',imageFormData,this.option)
                    .then(response=>{
                        console.log(response.code)
                    })
                .catch(failed=>{
                    console.log(failed.message)
                })
            }
        }
    }
</script>

<style scoped>

</style>
