<template>
    <div>
        <h3>Règles de confidentialité pour l’application Dreammore</h3>
        La présente politique de confidentialité s’applique aux utilisateurs des appareils Android.
        En naviguant sur l’application Dreammore, vous pouvez rechercher et partager des informations. Ces informations nous permettent d’améliorer nos services, afin de mieux répondre à vos attentes, et de rendre l’application plus performante et pertinente. Nous pouvons notamment vous envoyer directement via l’application des renseignements liées à vos recherches.
        Il est important qu’en tant qu’utilisateur de notre application, vous compreniez comment sont utilisées les données que vous fournissez.
        <h6>>Données collectées</h6>
        Les informations collectées par le biais de l’application visent à améliorer cette dernière. Aucune information personnelle ne vous est demandée, toute fois nous collectons des informations relatives aux services que vous utilisez et à l’usage que vous en faites.
        Il s’agit de données de base, telles que la langue que vous utilisez et les « cliques » que vous faites sur chaque lien de l’application, afin que nous puissions évaluer la pertinence de chacune de nos interfaces.
        Mais également des données plus complexes :
        •	• relatives à l’appareil utilisé : le modèle, la version du système d’exploitation, les identifiants uniques de l’appareil et les informations relatives au réseau mobile
        •	• relatives aux données de localisation : nous pouvons collecter et traiter des données relatives à votre position

        <h1>Utilisation des données</h1>
        La collecte de ces informations nous permet de gérer, protéger et d’améliorer nos services. Cela nous permet de vous proposer des contenus adaptés et de vous transmettre les informations qui vous intéressent.

        <h6>Utilisation de la camera</h6>
        La camera de votre appareil mobile est utilisé afin de vous permettre d’ajouter une image afin de bien decrire votre demande. Aucune information personnelle n’est stockée dans l’application.

        <h6>Utilisation du microphone</h6>
        Le microphone de votre appareil mobile est utilisé afin de vous d’enregistrer un son image afin de bien votre demande. Aucune information personnelle n’est stockée dans l’application.

        <h6>Partage des données</h6>
        Aucune donnée n’est partagée par Dreammore
        Champ d’application des présentes Règles de confidentialité
        Ces règles s’appliquent à tous les services proposés par l’application Android Dreammore
        Modifications
        Les présentes Règles de confidentialité peuvent être amenées à évoluer. Le cas échéant, nous publierons toute modification sur cette page, afin que vous soyez informés de telles évolutions.

    </div>
</template>

<script>
    export default {
        name: "confidentiality"
    }
</script>

<style scoped>

</style>
