<template>
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header">Fournisseurs</h6>
            <div class="element-box">
                <div class="form-header">
                    Liste des fournisseurs & Partenaires de dreammore
                </div>
                <div class="controls-above-table">
                    <div class="row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6 ">
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-sm btn-secondary" data-target="#importFile" data-toggle="modal">Importer une lise</button>
                            </div>

                        </div>
                    </div>
                    <!--modal -->
                    <div class="modal fade" id="importFile">
                        <form method="post" enctype="multipart/form-data">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Formulaire de reponse </h5>
                                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                            <span aria-hidden="true">Fermez</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Fichier excel</label>
                                            <div class="col-sm-9">
                                                <input class="form-control"  type="file" @change="getFile"  />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button @click="importFile" class="btn btn-success" type="button">Importer</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-lightborder">
                        <thead>
                        <tr>
                            <th>Nom de l'entreprise</th>
                            <th>Contact (Whatsapp/Mail/WeChat) </th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                            <template v-for="fournisseur in listFournisseur">
                                <tr>
                                <td>{{fournisseur.denomination}}</td>
                                <td>{{fournisseur.contact}}</td>
                                <td>
                                    <button  class="btn btn-outline-info">
                                        <i class="os-icon os-icon-edit-32"></i>
                                    </button>
                                    <button class="btn btn-danger" @click="deletepartners(fournisseur.id)">
                                        <i class="os-icon os-icon-delete "></i>
                                    </button>
                                </td>
                                </tr>
                            </template>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Fournisseur",
        data(){
            return{
                file:'',
                listFournisseur:''

            }
        },
        mounted() {
            this.getFournisseurList()
        },
        methods:{
            getFile:function (event) {
                this.file=event.target.files[0];

            },
            importFile:function(){
                let formdata=new FormData()
                formdata.append('list',this.file)
                const params={
                    headers:{
                        'Content-Type':'multipart/form-data'
                    }
                }

                axios.post('/admin/fournisseur/import',formdata,params).then(response=>{
                    this.$toasted.show('Le fichier a bien été importé ',
                        {
                            theme: 'outline',
                            position: 'top-center',
                            type: 'success',
                            duration: 4000
                        });
                    window.location.reload()

                }).catch(failure=>{

                })
            },

            getFournisseurList:function () {
                axios.get('/admin/fournisseur/list').then(response=>{
                    this.listFournisseur=response.data
                    return response.data
                })
            },

            deletepartners(id){
                axios.delete('/admin/fournissseur/'+id+'/delete').then(success=>{
                    console.log(success)
                        if (success.data.code===200){
                            this.$toasted.show(`Le fournisseur a bien été supprimé`,
                                {
                                    theme: 'outline',
                                    position: 'top',
                                    type: 'success',
                                    duration: 4000
                                });
                        }
                }).catch(error=>{

                    })
                window.location.reload()
            }
        },
        computed:{
            fournisseurList:function () {
                return this.getFournisseurList
            }
        }
    }
</script>

<style scoped>

</style>
