<template>
    <div class="row">
        <div class="col-sm-12">
            <div class="element-wrapper">

                <h6 class="element-header">Informations de bases</h6>
                <div class="element-content">
                    <div class="row">

                        <div class="col-sm-4 col-xxxl-3"><a class="element-box el-tablo" href="#">
                            <div class="label">Total des requêtes</div>
                            <div class="value">{{totalrequetes}}</div>
                            <div class="trending trending-up-basic"><span>0</span><i
                                class="os-icon os-icon-arrow-up2"></i></div>
                        </a></div>

                        <div class="col-sm-4 col-xxxl-3">
                            <a class="element-box el-tablo" href="#">
                                <div class="label">Bon de commandes</div>
                                <div class="value">0</div>
                                <div class="trending trending-up-basic"><span>0</span><i
                                    class="os-icon os-icon-arrow-down"></i></div>
                            </a></div>

                        <div class="col-sm-4 col-xxxl-3"><a class="element-box el-tablo" href="#">
                            <div class="label">Total des commandes</div>
                            <div class="value">0</div>
                            <div class="trending trending-up-basic"><span>0</span><i
                                class="os-icon os-icon-arrow-down"></i></div>
                        </a></div>
                        <div class="d-none d-xxxl-block col-xxxl-3"><a class="element-box el-tablo"
                                                                       href="#">
                            <div class="label">Refunds Processed</div>
                            <div class="value">$294</div>
                            <div class="trending trending-up-basic"><span>12%</span><i
                                class="os-icon os-icon-arrow-up2"></i></div>
                        </a></div>
                    </div>
                </div>
            </div>
            <stats></stats>

        </div>
    </div>


</template>
<script>
    import stats from './subComponents/stats'
    import orderComponent from './subComponents/OrderComponent'
    import {mapGetters} from 'vuex'
    import Echo from "laravel-echo";


    export default {
        components: {stats, orderComponent},
        props: ['auth_user'],
        computed:{
           ...mapGetters(['totalrequetes'])
        },
        mounted () {

            this.$echo.private('drafts')
                .listen("UserSendRequest",(data)=>{


                    Notification.requestPermission(permission => {
                        let notification = new Notification('Information',{
                            body: "Une nouvelle requete vient d'être envoyé par un client",
                            icon:"https://dreammore.co/wp-content/uploads/2019/07/dreammore-favicon-white-150x150.png"
                        })

                        notification.onclick = ()=>{
                            window.open('/manager/requete/'+data.draftId)
                        }
                    })

                })

            this.$store.dispatch('loadRequest')
            this.$store.dispatch('getAllRequestCount')

        }
    }
</script>
