<template>
    <div class="content-box">
        <div class="element-wrapper">
            <h5 class="element-header">
                Requête
            </h5>
            <div class="element-box">
                <h5 class="form-header">Requêtes reçues</h5>
                <div class="form-desc">
                    Consultez la liste de toutes vos requêtes reçues
                    <div class="table-responsive">
                        <table class="table table-lightborder">
                            <thead>
                            <tr>
                                <th>Client</th>
                                <th>Sujet de la requête</th>
                                <th>Statut</th>
                                <th>Actions</th>

                            </tr>
                            </thead>
                            <tbody>
                            <template v-if="getTotal > 0">
                                <tr v-for="request in getRequetes">
                                    <td>
                                        {{request.lname}}
                                    </td>
                                    <td>
                                        {{request.draft_subject}}
                                    </td>
                                    <template v-if="request.admin_id === 0 || request.admin_id==null ">
                                        <td >
                                            <div class="status-pill red" data-title="Cancelled"
                                                 data-toggle="tooltip"></div>
                                            <span>Non traité</span>
                                        </td>
                                    </template>
                                    <template v-else>
                                        <td >
                                            <div class="status-pill green" data-title="ongoing"
                                                 data-toggle="tooltip"></div>
                                            <span>En cours de traitement</span>
                                        </td>
                                    </template>
                                    <td>
                                        <router-link class="btn btn-outline-dark" :to="{name:'SingleRequest',params:{id:request.id}}">
                                            Consulter
                                        </router-link>
                                    </td>
                                </tr>
                            </template>

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
</template>
<script>
    import SingleRequestComponent from './manager/request/SingleRequestComponent'
    import {mapGetters} from 'vuex'

    export default {
        components: {SingleRequestComponent},
        props: ['auth_user'],
        data() {
            return {
                requestList: [],
                requestCount: 0,
                defaultComponent: '',
                defaultAvatar: '/img/userAvatar.png',
                user_id: 0
            }
        },
        computed: {
            ...mapGetters(['getRequetes', 'getTotal'])
        },
        mounted() {
            this.$store.dispatch('loadAllRequest');
            this.user_id = this.auth_user
        }
    }
</script>
