<!--recuperer la liste de tous les users et afficher deux boutonx
-- bouton notifer par messages  et notifier par GCM
-->

<template>
    <div class="content-box">
        <div class="element-wrapper">
            <div class="element-box">
                <h5 class="form-header">Notification</h5>
                <div class="form-desc">
                    Notifer les utilisateurs

                    <div class="table-responsive">
                        <table class="table table-lightborder">
                            <thead>
                                <tr>
                                    <th class="text-center">Nom du client</th>
                                    <th class="text-center">Notifier</th>
                                </tr>
                            </thead>
                            <tbody>

                                <template v-for="client in clientList">
                                    <tr>
                                         <td class="text-center"> {{client.lname}} {{client.fname}}</td>
                                          <td class="text-center">
                                              <button class="btn btn-success" type="button" data-toggle="collapse" :data-target="'#message'+client.id">
                                                  Par message
                                                  <i class="os-icon os-icon-message-square"></i>
                                              </button>
                                              <button class="btn btn-success" type="button" data-toggle="collapse" :data-target="'#notif'+client.id">
                                                  Via la notification
                                                  <i class="os-icon os-icon-bell"></i>
                                              </button>
                                              <template>
                                                  <div class="collapse" :id="'message'+client.id" >
                                                      <form class="my-2">
                                                          <div class="row">
                                                              <div class="col-sm-6">
                                                                  <textarea class="form-control" id="sms" placeholder="veuillez entrer le message à envoyer"></textarea>
                                                              </div>
                                                              <div class="col-sm-6">
                                                                  <button type="submit" class="btn-outline-success" @click.prevent="notifyBySms(client.telephone)">
                                                                      Envoyer
                                                                      <i class="os-icon os-icon-send"></i>
                                                                  </button>
                                                              </div>
                                                          </div>


                                                      </form>
                                                  </div>
                                              </template>
                                              <template>
                                                  <div class="collapse" :id="'notif'+client.id" >
                                                      <form >
                                                          <textarea class="form-control"  id="message" placeholder="veuillez entrer le message à envoyer par notification"></textarea>
                                                          <button type="submit" class="btn-outline-success" @click.prevent="notifyByPush(client.fcm_token)">
                                                              Notifier
                                                              <i class="os-icon os-icon-send"></i>
                                                          </button>
                                                      </form>
                                                  </div>
                                              </template>

                                          </td>

                                    </tr>

                                </template>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Notification",
        data(){
            return{

            }
        },
        mounted() {

            this.loadClients()
        },
        methods:{
            loadClients:function () {
                this.$store.dispatch('loadAllClients')
            },

            notifyBySms:function (clientTel) {
                   axios.post('/admin/notify/'+clientTel+'/sms',{
                       'message':document.getElementById("sms").value
                   })
                       .then(response=>{
                           this.$toasted.show('Le message a bien été envoyé',
                               {
                                   theme: 'outline',
                                   position: 'top-center',
                                   type: 'success',
                                   duration: 4000
                               })

                       })
                       .catch(error=>{
                           console.error(error)
                       })
            },
            /*notification par message push */

            notifyByPush:function (clientToken) {
                axios.post('/admin/notify/'+clientToken+'/push',{
                    'message':document.getElementById("message").value
                }).then(response=>{
                    alert('notification send')
                })
            },



        },
        computed:{
            clientList:function () {
               return this.$store.getters.getClients
            }
        },

    }
</script>

<style scoped>

</style>
