<template>
        <div class="row">
            <div class="col-sm-12">
                <div class="element-wrapper">
                    <h6 class="element-header">Requetes en traitement</h6>
                    <div class="element-box">
                        <div class="table-responsive">
                            <table class="table table-lightborder">
                                <thead>
                                    <tr>
                                        <th>Nom du client</th>
                                        <th>Sujet</th>
                                        <th>Statut</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <template v-for="request in lastassignedList">
                                        <tr>
                                            <td>{{request.lname}} {{request.fname}}</td>
                                            <td>{{request.draft_subject}}</td>
                                            <td>Statut</td>
                                            <td>
                                                <router-link class="btn btn-outline-dark" :to="{name:'SingleRequest',params:{id:request.id}}">
                                                    Consulter
                                                </router-link>
                                            </td>
                                        </tr>
                                    </template>




                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
    export default {
        name: "stats",
        data(){
            return{

            }
        },
        mounted() {
            this.$store.dispatch('loadLastAssignedRequest')
        },
        methods:{

        },
        computed:{
            lastassignedList:function () {
                return this.$store.getters.getLastAssignedList
            }
        }
    }
</script>

<style scoped>

</style>
